
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Home - Airbnb</title>

    <%- include('partials/headstyle') %>
</head>
<body>
    <%- include('partials/Header') %>
    <ul>
        <li>HOUSE NAME <span>ADDRESS</span></li>
        <% REGISTEREDHOMES.forEach(home => { %>
            <li><%= home.NAME%> 
                <span>
                  <%= home.ADDRESS%>
                </span>
            </li>
        <% }); %>
    </ul>
    <footer>
        <p>&copy; 2024 Airbnb Clone</p>
    </footer>
</body>
</html>
