
<!--
ENGLISH: Common navigation and header section used across pages
HINGLISH: Sabhi pages mein use hone wala common navigation aur header section
-->
<nav>
    <a href="/host/add-home">
        ADD HOME 
    </a>    
</nav>
<header>
     <h1>WELCOME TO AIRBNB PROJECT</h1>
</header>
