<nav>
        <div>
            RUDRA
        </div>
        <ul>
            <li>
                <a href='/'>HOME</a>
            </li>
            <li>
               <a href='/addhome'>
                   ADDHOME
               </a> 
            </li>
        </ul>
</nav>