<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRACTICE SET 3</title>
    <link rel='stylesheet' href='/contactus.css'>
</head>
<body>
    <header>
        <h1>ADD HOME</h1>
    </header>
    <main>
        <form action='/success' method='POST'>
            <input type='text' name='PROFILE' placeholder='ENTER YOUR HOME PHOTO LINK' required>
            <input type='text' name='NAME' placeholder='ENTER YOUR HOME NAME' required>
            <input type="text" name='LOCATION' placeholder='ENTER YOUR LOCATION' required/>
            <input type='text' name='PRICE' placeholder='ENTER YOUR HOME PRICE PER NIGHT' required>
            <input name='RATING' placeholder='ENTER REATING OF YOUR HOME' required></input>
            <br/><br/>
            <button type='submit'>
                ADD HOME
            </button>
            
        </form>
    </main>
    <footer>
        <p>&copy; PRACTICE SET 3</p>
    </footer>
</body>
</html>