*{
  margin:0;
  padding:0;
  box-sizing: border-box; 
}
body{
  text-align: center;
}
header{
  margin:20px;
}
main{
  font-weight:bold;
  margin-bottom:20px;
}
a{
  margin:10px;
}
footer{
  background-color: black;
  color:white;
  position:fixed; 
  width:100%;
  font-weight:bold;
  font-size:20px;
  letter-spacing:2px;
  padding:15px;
  bottom:0;
}